.top-background
  .topbar
    .container
      .pull-right
        / =link_to  new_user_session_path, class: 'btn btn-warning' do
        /   %i.glyphicon.glyphicon-log-in
        /   Admin
        %ul.nav.navbar-nav
          %li
            = link_to "" do
              %span.iconos>
                %i.fa.fa-user.fa-fw
              Quienes Somos
          %li
            = link_to "" do
              %span.iconos>
                %i.fa.fa-user.fa-fw
              Servicio
          %li
            = link_to "" do
              %span.iconos>
                %i.fa.fa-user.fa-fw
              Contacto    
              
  .container
    .landing_content
      .row
        .col-md-12.text-center.logo-margin
          = image_tag("logo.png")
      .row
        .col-md-12 
          %h1.landing-title
            
          %h3.text-center 


.bkg-blue
  .container
    .row
      .col-md-12.text-center
        %br
        %br
        %h1.page-header
          Servicio
        %h3 Además, tenemos un increíble blog donde tenemos varios artículos creados para mejorar tu vida , como quedar embarazada, como ser millonario y aprender como meditar de forma fácil y diaria.
        %br
        %br
        %br
        %br  
.suero-bkg-pub
  .container
    .row
      .col-md-12.text-center
        %br
        %br
        %h1.page-header
          Quienes Somos
        %h3 Todas nuestras meditaciones y relajaciones tienen su respectiva música para meditar seleccionada especialmente para tener un efecto positivo en nuestro subconsciente y lograr los resultados deseados.
        %br
        %br
        %br
        %br

.bkg-blue
  .container
    .row
      .col-md-2.text-center 
      .col-md-8.text-center   
        %h3.center_text.white
          Sensomatica
        .divider_line    
        %h5.center_text.white
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
          %br 
          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          
    %br
    %br

